<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/faces/favicon.png">
    <link href="../css/main.870deaa3.css" rel="stylesheet">
    <title>Мониторинг</title>
  </head>
  
  <body id="t" class="offline">
    <div id="messageBox" class="sendmessage">
      <div id="root"><div class="px2 mx-auto container app">
      <header class="my2" >
        <h2 class="m0 h3"><span role="img" aria-label="grin">🎓🎓🎓</span></h2>
        <h1 class="my1 h2">Мониторинг</h1>
        <p class="m0">https://monitorin9.herokuapp.com/</p>
      </header>
      <main>
      	<div class="py1"><div class="btn btn-small btn-primary btn-upload bg-black h5" aria-disabled="false" style="position: relative;">Загрузить фото<input accept="image/jpeg, image/png" type="file" autocomplete="off" style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; opacity: 1e-05; pointer-events: none;"></div></div>
      </main>
      <footer class="mt3 py2 h6 border-top border-silver"><a href="https://bkhv.tech/">Сделано @BKHV</a> / 😎</footer>
    </div></div>
      
    </div>
    

</body>
  


      
      
</html>
